body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.celular {
    position: relative;
    width: 250px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

.tela {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 5px;
    left: 5px;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
}



.tela section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.3s;
    color: white;
}

.tela:hover section {
    opacity: 1;
}

.wrapper {
    height: auto;
    display: flex;
    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header {
    text-align: center;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
}

main {
    width: 100%;
    flex: 1;
    min-height: 400px;
    max-height: 400px;
    background: rgb(0, 195, 255);
}

footer {
    text-align: center;
    background: blueviolet;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}